header{
    text-align: center;
    padding: 50px;
    background-color: #ffe6e6;
}
main{
    display : flex;
   justify-content: space-around;
   padding:30px;
}
section{
    background-color: #fff;
    padding: 20px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #ffe6e6;
}
