body{
    height: 100%;
    margin: 0%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    padding: 50px;
    background-color: #ffe6e6;
}
main{
    flex: 1;
    display : flex;
   justify-content: space-around;
   padding:30px;
}
@media (max-width: 768px){
    main{
        flex-direction: column;
        align-items: center;
    }
    section {
        width: 80%;
        margin-bottom: 20px;
    }
}

section{
    background-color: #fff;
    padding: 20px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #ffe6e6;
}


